---
---

@import "{{ site.theme }}";

.inner {
  	max-width: 1200px;
	padding: 20px 5%;
}

#header_wrap .inner {
	padding: 0px 5%;
}

#main_content {
	padding: 0px;
}

figure { 
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 45%;
  height: auto;
  min-width: 320px;
}

#linkbar a {
	margin: 0px;
	color: lightblue;
}

#linkbar {
	padding: 0px; 
	margin: 0px;
	font-size: 125%;
	color: white;
}

figure img {
  text-align: center;
  max-width: 100%;
  max-height: 200px;
}

figure iframe {
  width: 320px;
}
figure iframe.cinema {
  height: 170px;
}
figure iframe.tv {
  height: 240px;
}

figcaption {
  text-align: center;
  padding-bottom: 50px;
}
