---
---

@import "{{ site.theme }}";

.inner {
  	max-width: 1000px;
	padding: 20px 5%;
}

#header_wrap .inner {
	padding: 0px 5%;
}

#main_content {
	padding: 0px;
}

figure { 
  margin-left: 10px;
  float: right;
  width: 45%;
}

#linkbar a {
	margin: 0px;
	color: lightblue;
}

#linkbar {
	padding: 0px; 
	margin: 0px;
	font-size: 125%;
	color: white;
}

figure img {
  text-align: center;
  width: 100%;
}

figure iframe {
  width:  100%;
  min-width: 320px;
  min-height: 240px;
}

figcaption {
  text-align: center;
}
